

#board.trelloGroups{
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    overflow-y: auto;
  }
  
  .group-start{
    grid-column-start: 1;
  }

  .group-break {
    display: none;
  }

#board.trelloGroups > [data-testid="list-wrapper"]
{
  margin: 0px;
  height: auto;
  padding: 6px;
}

#board.trelloGroups > [data-testid="list-wrapper"].group-item:before {
    content: attr(data-group-title);
    display: block;
    top: -1.2em;
    left: 0;
    z-index: 2;
    min-width: 50%;
    min-height: 1em;
    padding: .25em 1em .2em .5em;
    font-size: 1.2em;
    color: rgba(0,0,0,0);
}

#board.trelloGroups > [data-testid="list-wrapper"].group-start:before {
    content: attr(data-group-title);
    display: block;
    top: -1.2em;
    left: 0;
    z-index: 2;
    min-width: 50%;
    min-height: 1em;
    padding: .25em 1em .2em .5em;
    font-size: 1.2em;
    color: #eee;
    border-top-left-radius: 5px;
    background: linear-gradient(to right, rgba(49, 49, 49, 0.7) 0% , rgba(49, 49, 49, 0.5) 70%, rgba(49, 49, 49, 0.0) 100%);
}


